@font-face {
  font-family: 'ClashDisplay';
  src: url('../assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InstrumentSans';
  src: url('../assets/fonts/InstrumentSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}